<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/OrderForm.css">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/app/js/OrderForm.js"></script>

<title>ROBOT COFFEE - Form order</title>

<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h3">Robot Coffee - Order</span>
    </div>
</nav>

<body>
    <div class="container-fluid">
        <form action="/OrderNew/Created" method="dialog" id="form_data">
            <input type="hidden" id="Datetime" name="Datetime" value="">
            <table class="table" id="table">
                <thead>
                    {{!-- <colgroup>
                        <col id="Col_Ordinal_Number">
                        <col id="Col_Refreshment">
                        <col id="Col_Unit_Price">
                        <col id="Col_Quantity">
                    </colgroup> --}}
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width: fit-content;">Thức uống</th>
                        <th scope="col" style="width: fit-content;">Đơn giá</th>
                        <th scope="col" style="width: fit-content;">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-select" aria-label="Refreshment_name" name="Refreshment">
                                <option value="Default">Chọn món</option>
                                <option value="Black Coffee">BLack Coffee</option>
                                <option value="Tea">Tea</option>
                                <option value="Beer">Beer</option>
                                <option value="Capuchino">Capuchino</option>
                                <option value="Milk">Milk</option>
                                <option value="Expresso">Expresso</option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control input-number Refreshment_unit_price" name="Refreshment_unit_price"
                                value="00000" readonly="true">
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                        data-type="minus" data-field="">
                                        -
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="number" id="Quantity" name="Quantity"
                                    class="form-control input-number quantity_value" value="1" readonly="true">
                                <span class="input-group-btn">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                        data-type="plus" data-field="">
                                        +
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <label for="" class="form-label" id="Total">Tổng</label>
                <input type="hidden" id="Total_cost" name="Total_cost">
            </div>

            <div class="">
                <button type="button" class="btn btn-primary btn-small" id="Add_refreshment">
                    <i class="fa fa-plus"></i>
                    Thêm món
                </button>
            </div>
            <div class="mb-2" style="margin-top: 2vh;">
                <label for="" class="form-label">Ghi chú</label>
                <textarea class="form-control" id="Note" rows="3" name="Note"></textarea>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success mx-auto d-block" id="btn-order" data-bs-toggle="modal"
                    data-bs-target="#Alert_Check_Order">Đặt món</button>
            </div>

            <div class="modal fade" id="Alert_Check_Order" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="Alert_Check_Order" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Kiểm tra lại trước khi gọi món</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal">Kiểm tra
                                lại</button>
                            <button type="submit" class="btn btn-primary btn-success" data-bs-dismiss="modal"
                                id="modal-btn-success">Gọi món</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>